@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/most-wasted");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo-text-color: #eb4511;
}

p,
label,
a,
*::placeholder {
  font-family: "Roboto Slab", serif !important;
}

.most-wazted {
  font-family: "Most Wazted", sans-serif;
}

.logo {
  color: var(--logo-text-color);
}
